// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;

}

/*** jumbotron ***/
.jumbotron {
  text-align: center;
  background-color: #2988C8!important;
  color: #FFF!important;
}


/*** cards ***/
.movies {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

    /* mobile-first design! */
    @media only screen and (min-width: 990px) {
      .movies {
        grid-template-columns: repeat(3, 1fr);
      }
    }

.card {
  border: solid #2988C8 1px;
  padding: 20px;
}

.card-img-top {
  width: 100%;
}

/*** footer ***/
.footer {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 20px auto;
  color: #2988C8;
}
